
main {
  margin: 2em;
}
.app-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}
 
p {
    line-height: 2rem;
}

.post p {
    white-space: pre-wrap;
}

.mr-4 {
  margin-right: 0.25rem;
}

.mr-8 {
  margin-right: 0.5rem;
}

.ml-4 {
  margin-left: 0.25rem;
}

.ml-8 {
  margin-left: 0.5rem;
}

.hidden {
  display: none;
}

.clear {
  opacity: 0;
}

.nav-link{
  color: #d4c81d
}

html, body, .card{
  background-color: gray;
}